.popup-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 1000;
    width: 80vw;
    height: 53.7vw;
    padding: 20px;
    gap: 26px;
    border-radius: 35px;
    background: var(--accent-v-light-blue, #EDF4FF);
}