@import url('https://fonts.googleapis.com/css2?family=Caveat&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
}
.sentrequestsdiv {
    position: absolute;
    padding-left: 7.090vw;
    padding-right: 7.090vw;
    width: 77.777vw;
    top: 10.888vh;
    left: 19.791vw;
    display: flex;
    flex-wrap: wrap;
    gap: 2.569vw;
    justify-content: center;
}
.optiondiv {
    position: absolute;
    width: 37.986vw;
    height: 3.996vh;
    display: flex;
    top: 5.957vh;
    left: 39.687vw;
    background-color: rgba(217, 217, 217, 0.5);
    align-items: center;
    border-radius: 100px;
    padding: 0px 5px;
}
.active-pill {
  position: absolute;
  top: 10%;
  left: 1%;
  width: 18.615vw; 
  height: 3.173vh;
  background-color: white;
  border-radius: 150px;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 0;
}
.active-pill.left {
  transform: translateX(0);
}
.active-pill.right {
  transform: translateX(100%);
}
.receiveddiv {
    width: 18.715vw;
    height: 3.173vh;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    z-index: 1;
    cursor: pointer;
}
.sentdiv {
    width: 18.715vw;
    height: 3.173vh;
    display: flex;
    flex: 1;
    border-radius: 100px;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    z-index: 1;
    cursor: pointer;
}
.sent {
    font-family: sans-serif;
    font-weight: 510;
    font-style: inherit;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.23px;
    pointer-events: none;
    
}
.received {
    font-family: sans-serif;
    font-weight: 510;
    font-style: inherit;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.23px;
    text-align: center;
    vertical-align: middle;
    pointer-events: none;
}
.status-badge {
    position: relative;
    right: 6vw;
    width: 2.541vw;
    height: 2.050vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    opacity: 1;
    border-radius: 7px;
}
.New {
      background-color: rgb(98, 238, 105);
}
.Old {
    background-color: rgba(143, 173, 234, 1);
;
}


.status-box {
    position: relative;
    left: 4.5vw;
    width: 5.041vw;
    height: 2.929vh;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Approved {
    font-family: 'Inter';
    font-weight: 600;
    font-style: Bold;
    font-size: 13px;
    line-height: 130%;
    letter-spacing: -1.5%;
    background-color: rgba(56, 230, 3, 0.579);
}
.Pending {
    font-family: 'Inter';
    font-weight: 600;
    font-style: Bold;
    font-size: 13px;
    line-height: 130%;
    letter-spacing: -1.5%;
    background-color: rgba(250, 255, 206, 1);
}